@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
$main-title:'Montserrat';
$big-title:600;
$regular-title:400;

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
$main-font:'cabin';
$font-font:600;
$font-blod:400;