doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
        title Document
    body 
    header#header.header
        .topbar
            .topbar__icon  
                i.fa.fa-user 
                span Log in
            .topbar__icon
                i.fa.fa-user-plus 
                span Registro
    aside#sidebar.sidebar aside
    main.main main