include ../config/config

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.2/css/all.css")
        title Document
    body 
        header#header.header
            a(href="/").logo
                img(src="../assets/img/logo.png", alt="web logo") 
            #topbar.topbar
                .topbar__icon(data-type="login")  
                    i.fa.fa-user 
                    span Log in
                .topbar__icon(data-type="register")
                    i.fa.fa-user-plus 
                    span Registro
                .toggle-menu   
                    #toggle-menu.toggle-menu__icon 
                        .first-bar 
                        .secund-bar 
                        .third-bar
        #sidebar.sidebar
            block menu
        main.main 
        include ../includes/login-modal
        include ../includes/register-modal
        script(src="js/scripts-min.js") 