extends ../templates/templete
block menu 
    include ../includes/main-menu
block title
    h1.title About
    .about 
        .about__img 
            img(src="assets/img/about.jpg", alt="about image 1")
        .about__text 
            h1 Title 1
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore doloribus obcaecati facere distinctio veniam facilis necessitatibus corrupti ut, molestias dicta? Modi odio provident exercitationem inventore suscipit blanditiis nostrum ullam perferendis!
              .about__img 
            img(src="assets/img/about2.jpg", alt="about image 2")
        .about__text 
            h1 Title 2
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore doloribus obcaecati facere distinctio veniam facilis necessitatibus corrupti ut, molestias dicta? Modi odio provident exercitationem inventore suscipit blanditiis nostrum ullam perferendis!

    .controls 
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next